<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Save computer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<h1>Save Computer</h1>

<form th:action="@{/save-new-computer}" th:object="${computer}" method="POST">
<input type="hidden" th:field="*{id}"><br>
<label>Brand</label><br>
<input th:field="*{brand}"><br>
<label>Price</label><br>
<input th:field="*{price}"><br>
<input type="submit" value="Save computer">
</form>

</body>
</html>          